body{
	margin: 0px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	/* font-family: fantasy; */
	font-family: 'Amatic SC', cursive;
	font-size: 3em; 
	border-bottom: 5px solid pink; 
	border-right: 5px solid pink;
	width: 400px;
	text-align: center;
	-webkit-box-shadow: 8px 8px 10px #888888;
	margin-top: 10px;

}

img {
	width: 350px; 
	height: 350px;
	margin: 10px;
	transition: all 1s; 

}

img:hover{
	transform: scale(1.1);
}

h2 {
	border: solid 20px rgba(35,205,30,);
	padding: 20px;
}